<div>
  <div>
    channel: <input ng-model="$ctrl.channel"/>
  </div>
  <div>
    keys state: {{$ctrl.keysState}}
  </div>
  <div>Sent: {{$ctrl.sendingKeys}}</div>
  <div>Received: {{$ctrl.receivingKeys}}</div>

  <button ng-keydown="$ctrl.onKeyEvent($event)" ng-keyup="$ctrl.onKeyEvent($event)">
start
  </button>

  <hr/>
  <div>
    Latency table
    <table>
      <tr>
        <th>Latency</th>
        <th>Send Time</th>
      </tr>
      <tr ng-repeat="keysData in $ctrl.topLatencyMessages">
        <td>{{keysData.latency}}</td>
        <td>{{keysData.time}}</td>
      </tr>
    </table>
  </div>
</div>
