<div>
    <h2>MIDI</h2>
    
    <h3>Outputs</h3>
    <table>
        <tr>
            <th>ID</th><th>Name</th>
        </tr>
        <tr ng-repeat="out in $ctrl.outputs">
            <td>{{out.id}}</td>
            <td>{{out.name}}</td>
        </tr>
    </table>
</div>